* {
  margin: 0;
  padding: 0;

  font-family: Inconsolata, monospace;
}

/* BODY */

html {
  height: 100%;
  background: rgb(20, 20, 20);
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
}

.header-container {
  padding: 1.5em;
}

.nav {
  display: flex;
  gap: 2em;
}

.nav > li {
  list-style-type: none;
}

.nav > li > a {
  text-decoration: none;
  color: white;
}

.nav > li > a:hover {
  color: gray;
}

.header-title {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

/* SECTION */

section {
  padding: 1.5em;
  flex: 1;
}

/* table */

.table-header {
  padding: 0 0 1em 0;
  text-align: left;
}

#assignment-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 0.5em;
}

thead th {
  border-bottom: 0.15em dotted white;
  padding-bottom: 0.5em;
}

thead > tr {
  text-align: left;
}

.th-name {
  width: 20%;
}

.th-description {
  width: full;
}

.th-status {
  width: 15%;
}

.th-link {
  width: 20%;
}

.file-icon {
  color: white;
  width: 1.1em;
  height: 1.1em;
  display: inline-block;
  padding-right: 0.5em;
}

.assignment-link {
  text-decoration: none;
  color: green;
}

.assignment-link:active {
  color: darkgreen;
}

.assignment-link:hover {
  color: darkgreen;
}

.table-spacer {
  height: 0.25em;
  visibility: hidden;
}

#table-body:before {
  content: "-";
  display: block;
  line-height: 0.5em;
  visibility: hidden;
}

/* FOOTER */
footer {
  width: 100%;
  padding: 0 0 2em 0;
  text-align: center;
}

.footer-img {
  fill: white;
}

/* REUSABLES */

.hover-effect {
  transition: transform 120ms ease-in-out;
}

.hover-effect:hover {
  transform: scale(1.2);
  filter: drop-shadow(0 0 15px rgba(104, 104, 104, 0.6))
    drop-shadow(0 0 20px rgba(255, 255, 255, 0.4)); /* Glow effect */
}

.hover-effect:active {
  transform: scale(0.8);
}

/* button */

.link-button-container {
}

.link-button {
  padding: 0.3em 0.6em 0.3em 0.6em;
  color: white;
  text-decoration: none;
  background-color: gray;
  transition: ease-in-out;
  transition-duration: 100ms;
}

.link-button:active {
  background-color: darkgray;
}

.link-button-effect {
  transition: ease-in-out;
  transition-duration: 100ms;
  box-shadow: 0.15em 0.15em white;
  position: relative;
}

.link-button-effect:hover {
  box-shadow: 0.25em 0.25em white;
  transform: translate(-0.1em, -0.1em);
}

.link-button-effect:active {
  transform: translate(-0.15em, -0.15em);
  box-shadow: 0 0;
}
/* TBA */

/* .link-button-effect:active {} */

/* text */
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

/* flex */
.flex-column {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  justify-content: center;
}

.flex {
  display: flex;
  gap: 8em;
  justify-content: center;
  align-items: center;
}

.flex-center {
  display: flex;
  flex-direction: column;
  gap: 2em;
  justify-content: center;
  align-items: center;
  height: 90%;
}

/* section */

.section-center {
  width: 50%;
}

.section-item-container {
  width: 100%;
}

.section-item {
  border: 1px solid white;
  width: 25%;
  height: 50em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0.5em 0.5em lightgray;
}

.section-item > p {
  padding: 2em;
  line-height: 3em;
}
