#pt1-main {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 4em;
  gap: 1em;
}

#pt1-form {
  flex-basis: 50%;
}

#result-div {
  flex-basis: 50%;
}

#pt1-form > div {
  padding: 1em;
}

fieldset {
  padding: 1em;
}

#result-div {
  padding: 2em;
}

/* PT2 */
#pt2-main {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}
