/* HW 3 CSS */
.section-left,
.section-right {
  display: flex;
}

form {
  flex-basis: 20%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: center;
}

input[type="submit"],
input[type="reset"] {
  padding: 0.4em 0.8em;
  border-radius: 0;
  background-color: white;
}

input[type="number"],
input[type="text"] {
  margin-top: 0.25em;
  padding: 0.5em 1em;
  text-align: center;
  width: 40%;
}

.form-buttons {
  width: 60%;
  display: flex;
  justify-content: space-around;
}

#hw-1-result {
  color: white;
  padding: 5em 10em;
  background-color: gray;
  font-size: larger;
}

.result-pane {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

table {
  flex-basis: 10%;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4em;
  gap: 4em;
  height: 50%;
}

#hw1-result {
  height: 15em;
  background-color: gray;
  width: 40%;
  font-size: large;
}

.result-output {
  font-weight: bolder;
}

/* PART 2 */

#sales-commision {
  padding-top: 4em;
}

.list-decoration-none > li {
  list-style: none;
}

input[type="number"]:invalid {
  border: solid red 3px;
}

#commisions-form {
  align-items: normal;
  flex-basis: 40%;
}

#commisions-table {
  flex-basis: 40%;
}

th,
td {
  padding: 0.25em;
}

.bold {
  font-weight: bold;
}

#error-box {
  padding-top: 4em;
  text-align: center;
}

/* EC */
#learn-math {
  position: relative;
}

#display {
  height: 10em;
  display: flex;
  font-size: larger;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}

#next-step {
  text-align: center;
}

button {
  padding: 0.5em 2em;
  border-radius: 0;
}

#display-container {
  width: 100%;
}

#hidden-continue {
  margin-top: 1em;
  text-align: center;
}

#hint {
  text-align: center;
}

#userInput {
  display: none;
}
