section {
  display: flex;
  flex-direction: column;
  justify-items: center;
  /* align-items: center; */
  gap: 0.5em;
}

/* PART 1 */

#part1 {
  margin: 2em 0;
  padding: 2em;
  background-color: lightgray;
  border-radius: 0.5em;
  width: fit-content;
}

#first_item {
  color: red;
  font-family: "Times New Roman", Times, serif;
}

#second_item {
  color: blue;
  font-family: Arial, Helvetica, sans-serif;
}

#third_item {
  color: green;
  font-style: italic;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

/* PART 2 */
.hw2-flex-container {
  margin-top: 2em;
  display: flex;
  gap: 2em;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  width: 20%;
}

label {
  margin: 0.5em 0;
}

input[type="text"],
input[type="number"] {
  padding: 10px 20px;
  border-radius: 0.5em;
  width: 80%;
}

#form-button-container {
  margin-top: 1em;
}

input[type="submit"],
input[type="reset"] {
  padding: 0.4em 0.8em;
}

#hw2-2-result-container {
  width: 80%;
  padding: 1em;
  background-color: lightgray;
  color: black;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

#hw2-2-results-table {
  width: 20%;
  text-align: center;
  font-size: 1.5em;
}

#hw2-2-results-table {
  width: 100%;
}

/* EXTRA CREDIT */

#form-ec {
  width: 60%;
  margin-top: 2em;
}

#form-ec > table > thead > tr > th {
  padding: 1em;
  border: 2px solid white;
}

#form-ec > table > tbody > tr > td {
  padding: 1em;
  border: 1px solid white;
}

#hw2-ec-currency {
  width: 30%;
}

#hw2-ec-rate {
  width: 30%;
}

#hw2-ec-value {
  width: 40%;
  text-align: right;
}

.hw2-ec-results {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1em;
  text-align: right;
}

#usd {
  text-align: right;
  font-size: 1em;
}

#usd:focus {
  outline: none;
  border: 2px solid green;
  background-color: lightgreen;
}

#hw2-ec-result-text {
  font-weight: bolder;
}
